/*@font-face{
    font-family: "Permanent Marker", cursive;
    src: url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face{
    font-family: "Sedgwick Ave Display", cursive;
    src: url('../fonts/SedgwickAveDisplay-Regular.ttf');
}

@font-face{
    font-family: "Rock Salt", cursive;
    src: url('../fonts/RockSalt-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
}

:root{
    font-size: 20px;
} */

/*  EJEMPLO DE UNIDADES FLEXIBLES ¡¡¡¡RESPONSIVE!!!!
p{
    font-size: 5vw;
    font-size: 5vh;
    background-color: rgba(0,255,0,0.23);

}
*/

/* header{
    
    font-family: "Permanent Marker";
    color: orange;
    background-color: #006600;
    font-size: 4rem;
    text-align: center;

}

h1{
    font-family: Verdana, arial, Tahoma, sans-serif;
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 4rem;
}

h2{
    font-family: "Sedgwick Ave Display";
    font-size: 2rem;
}

h4{
    color: rgb(254, 232, 176);
    background-color: #006600;
    text-align: center;
    font-size: 2rem;
}

#newAlbum{
    align-self: center;
}

body {
    font-family: Verdana, arial, Tahoma, sans-serif;
    color: orange;
    background-color: #006600;
    
}

nav {
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
    color: orange;
    background-color: #006600;
    text-align: center;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}*/

*{
    margin: 0px;
    padding: 0px;

}

:root{  --color1: #DBE0D1;
        --color2: #082323;
        --color3:#32333B;
        --color4: #32323A;
        --color5: #00140D;
        --color6: #D38D00;
        --paraquesevea: black;
        --fuente1: 'Elianto'
        font-size: 20px
 }

 @font-face {
    font-family:'Elianto';
    src:url(../FUENTE/Elianto.ttf);
}


body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--color2);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--color6); /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */

  }


    .contenedor{
    /*max-width: 120rem;*/
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5 fr;
    grid-auto-rows: repeat(6, 1fr);
    grid-template-areas:
     "header     header      header" 
     "main       main       sidebar"
     "section1   section1   section1"
     "section2   section2   section2"
     "footer      footer     footer";
     background-color: var(--color3);

  }
  


  .contenedor .header { 
    grid-area: header;
    width: 100%;
    justify-content: space-between; 
    display:grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    /*background-image: url(../img/cielo.jpg);
    background-repeat: none;
    background-position: center;
    background-size:contain;*/
    background-color:var(--color2);
    color:  var(--color1);
    align-items: center;
    font-family: 'Tw Cen MT Condensed';
    padding-left: 5%;

    
    }


.nombre{
    font-size: 5rem ;
    padding-left: 1.5rem ;

}


.contenedor .nav {
    display: flex;
    /*background-image: url(../img/cielo.jpg);
    background-repeat: none;
    background-position: center;
    background-size:contain; */
    background-color:var(--color2);
    height: 20vh ;
    color: var(--color1);
    justify-content: end;
    padding: 2% 15% 3% 5%; 
    font-size: 1.8rem;

}



#links> a {

    font-family: 'Tw Cen MT Condensed';
    text-decoration: none;
    padding:  0.5rem 1rem;
    color:var(--color1)

}


#links{
    display: flex;
    height: fit-content;
}



.contenedor .main {
    display: flex;
    grid-area: main;
    background-color:var(--color3) ;
    height: auto ;
    padding: 1rem;
    justify-content: space-between;
}

#libro> div{
    padding: 1rem;
    color: var(--color5);
    background-color: var(--color6);
    margin: 3rem;
    box-shadow: 6px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

#libro{
    margin: 0.7rem 1rem 0.7rem 1rem;
    justify-content: center;

}


.info{
    display: flex;
    flex-direction: column;
    align-items: space-between; 
    height: 90%;
    color:var(--color1);
    background-color: var(--color2);
    padding: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: justify;
    border-radius: 1rem;
    box-shadow: 6px 4px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
}


.info> div{
    
    margin-top: 0.5rem;
}



.info .copete{
    margin-top: 0.2rem;
    font-size: larger;
    margin-bottom: 1rem ;
}


/*#foto{
    
    margin: 7px 10px 5px 50px;
}


.mas{
    display: flex;
    background-color: var(--color1);
    color: var(--color5);
    align-content: center ;
    height: 5vh ;
    width: 15vw;
    align-items: center;



} */

.contenedor .sidebar{
  
    grid-area: sidebar;
    background-color: var(--color1);
    border-radius: 1rem;
    margin-right: 0.3rem ;

  }

.yt1{
    margin: 0.2rem;
    z-index: 10;
    border-radius: 1rem;  
    opacity: none;
    

}

.video1 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0.6rem 0.5rem ;
    border-radius: 1rem;
    height: 47%;
    border-radius: 1rem;
    background-color: rgba(50, 51, 59, 0.25);

   
}

 h3{
    padding-bottom: 0.8rem;
    font-family: 'Tw Cen MT Condensed';

 }

.video2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0.6rem 0.5rem ;
    background-color: rgba(50, 51, 59, 0.25);
    border-radius: 1rem;
    height: 47%;


}

.contenedor .section1 {


    grid-area: section1;
    background-image: url(../img/binario1.jpg);
    background-repeat: none;
    background-position: center;
    background-size:contain;
    background-attachment: fixed;
    height: auto;
    justify-content: center;
    align-items: center;
    
}

.transparente{

    display: grid;
    margin: 10px;
    height: 70vh ;
    background-color:var(--color4) ;
    opacity: 55%;
    padding: 10 px;
    border-radius: 10px;
    color:var(--color1);
    justify-content: center;
    align-items: center;
    
}

.section2::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  .section2::-webkit-scrollbar-track {
    background: var(--color5);        /* color of the tracking area */
  }
  
  .section2::-webkit-scrollbar-thumb {
    background-color: var(--color6); /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */

  }

/*poner el p  sin opacidad  {
    text-decoration-color: none !important;}*/

.contenedor .section2 {
    grid-area: section2;
    display: flex;
    background-color: var(--color3);
    height: 60vh ;
    color: #DBE0D1;
    padding: 1rem ;
    overflow: auto;

   
}





#circulo1{
    background-image: url( );
   
    

}



.contenedor .section2 .circulo{
 
    background-color: #DBE0D1;
    color: #000000;
    border-radius: 50%; 
   width: 15rem;
   height: 15rem;
   justify-content: center ;
   align-content: center;
   margin: 1.5rem;
   
}




    .titulo{
        background-color: var(--color2);
        color: var(--color1);
        margin: 1.5rem;
        text-align: center;
    }

        


        .contenedor .footer {
    display: grid;
    grid-area: footer;
    background-color: var(--color2) ;
    height: 20vh;
    color:  var(--color1);
    justify-content:  center;
    padding: 1rem;
}


#icon{

    display: flex;
    justify-content: space-between;

}


    


.formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: orange;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}

/* -------Selector por ID-------------*/
#nombre{
    color: black;
    font-weight: 700;
}

#email{
    color: black;
    font-weight: 700;
}

#asunto{
    color: black;
    font-weight: 700;
}

#comentario{
    color: black;
    font-weight: 700;
}



.nombre:hover{

    font-size: 6rem ;
    animation: glitch 3s infinite;
    animation-timing-function:cubic-bezier(1, 0, 0, 1)  ;
}

@keyframes glitch{

    
    0% { text-shadow: #b4cf06
        0px 0px,
        #0d22da 0px 0px; }

        5% { text-shadow: #ff005d
            -3px 0px,
            #06ffea 3px 0px;}

       10% { text-shadow: #b4cf06
             2px 0px,
            #0d22da -2px 0px; }

            15% { text-shadow: #b4cf06
                -1px 0px,
                #0d22da 1px 0px; }
        
                20% { text-shadow: #ff005d
                    -3px 0px,
                    #06ffea 3px 0px;}
        
                25% { text-shadow: #b4cf06
                    2px 0px,
                    #0d22da -3px 0px; }

                    26% { text-shadow: #ff005d
                        0px 0px,
                        #06ffea 0px 0px;}
            
                   35% { text-shadow: #b4cf06
                         2px 0px,
                        #0d22da -3px 0px; }
            
                        40% { text-shadow: #b4cf06
                            -1px 0px,
                            #0d22da 3px 0px; }
                    
                            45% { text-shadow: #ff005d
                                -3px 0px,
                                #06ffea 3px 0px;}
                    
                            50% { text-shadow: #b4cf06
                                2px 0px,
                                #0d22da -2px 0px; }
                    49% { text-shadow: #b4cf06
                        0px 0px,
                        #0d22da 0px 0px; }
                    75% { text-shadow: #b4cf06
                        -3px 0px,
                        #0d22da 3px 0px; }
                
                        76% { text-shadow: #ff005d
                            -3px 0px,
                            #06ffea 3px 0px;}
                
                        100% { text-shadow: #b4cf06
                            0px 0px,
                            #0d22da 0px 0px; } 
                        
                        
            }
