*{
    margin: 0px;
    padding: 0px;

}


:root{  --color1: #DBE0D1;
        --color2: #082323;
        --color3:#32333B;
        --color4: #32323A;
        --color5: #00140D;
        --color6: #D38D00;
        --paraquesevea: black;
        --fuente1: 'Elianto'
        font-size: 20px
 }
 
 
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--color2);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--color6); /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */

  }
 
 
 .contenedor{
    /*max-width: 120rem;*/
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5 fr;
    grid-auto-rows: repeat(6, 1fr);
    grid-template-areas:
     "header     header      header" 
     "main       main       main"
     "main       main       main"
     "obras     obras      obras"
     "footer      footer     footer";
     background-color: var(--color3);
}

.header { 
    width: 100%;
    grid-area: header;
    justify-content: space-between; 
    display:grid;
    box-sizing: border-box;
   grid-template-columns: 50% 50%;
    /*background-image: url(../img/cielo.jpg);
    background-repeat: none;
    background-position: center;
    background-size:contain;*/
    background-color:var(--color2);
    color:  var(--color1);
    align-items: center;
    font-family: 'Tw Cen MT Condensed';
    padding-left: 5%;
    

    }

.nav {
        
        display: flex;
        /*background-image: url(../img/cielo.jpg);
        background-repeat: none;
        background-position: center;
        background-size:contain; */
        background-color:var(--color2);
        height: 20vh ;
        color: var(--color1);
        justify-content: end;
        padding: 2% 15% 3% 5%; 
        font-size: 1.8rem;
    
    }

    .nombre{
        font-size: 5rem ;
        padding-left: 1.5rem ;
    
    }
    
    #links> a {

        font-family: 'Tw Cen MT Condensed';
        text-decoration: none;
        padding:  0.5rem 1rem         ;
        color:var(--color1)
    
    }
    
    
    #links{
        display: flex;
        height: fit-content;
    }

main{ 
    grid-area: main;
    box-sizing: border-box;
    background-color:var(--color1);
    
 }

 .cont-cards{
    display: flex;
    width: 100%;
    padding: 3.5rem;
    justify-content: center;
    box-sizing: border-box;
 }


 .cont-cards .cards{
    display: flex;
    background-color: var(--color2);
    height: 52vh;
    width: 18vw;
    color: var(--color1);
    border-radius: 10px;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
   box-shadow: -3px 0px 10px var(--color2), -4px 0px 10px var(--color2);  box-shadow: -5px 0px 10px var(--color2);
}


.cont-cards .cards:hover{
    margin-right: 80px ;
    transform: rotate(3deg) translateY(-15px);

}


.cont-cards .cards[class*="c"]{
    margin-left: -50px;
   display: flex;
   justify-content: center;
   align-content: center;
}

.img{
    border-radius: 10px;
    border: -3px 0px 10px var(--color2);
}


.obras{
    grid-area: obras;
    background-color: var(--color1);
}

.obras>div{
    padding: 2rem;
}
.obras  * h2{
    margin: 1rem;
}


 .footer {
    display: grid;
    grid-area: footer;
    background-color: var(--color2) ;
    height: 20vh ;
    color:  var(--color1);
    justify-content:  center;
    padding: 1rem;
}


